        <section id="services" class="services">
            <div class="container">
                <div class="section-title">
                    <h2>Áreas de Servicio</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box iconbox-orange">
                            <div class="icon mailing">
                                <i class="bx bx-dollar"></i>
                            </div>
                            <h4>
                                <a>Gastos Comunes</a>
                            </h4>
                            <p>
                                Administración de bienes comunes<br>
                                Generación de recibos de condominio<br>
                                Informes financiero - contables
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box iconbox-orange ">
                            <div class="icon mailing">
                                <i class="bx bx-user"></i>
                            </div>
                            <h4>
                                <a>Recursos Humanos</a>
                            </h4>
                            <p>
                                Organización del capital humano<br>
                                Selección y evaluación de colaboradores<br>
                                Pago de remuneraciones y leyes sociales
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box iconbox-orange">
                            <div class="icon mailing">
                                <i class="bx bx-wrench"></i>
                            </div>
                            <h4>
                                <a>Gestión de Proveedores</a>
                            </h4>
                            <p>
                                Programación de mantenciones<br>
                                Canalización y seguimiento de incidentes<br>
                                Selección y evaluación de proveedores
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box iconbox-orange">
                            <div class="icon mailing">
                                <i class="bx bx-heart"></i>
                            </div>
                            <h4>
                                <a>Gestión de Residentes</a>
                            </h4>
                            <p>
                                Atención de requerimientos y solicitudes<br>
                                Mediación en conflictos comunitarios<br>
                                Servicio personalizado presencial y digital
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box iconbox-orange">
                            <div class="icon mailing">
                                <i class="bx bx-check-shield"></i>
                            </div>
                            <h4>
                                <a>Soporte Jurídico</a>
                            </h4>
                            <p>
                                Revisión y adecuación de contratos<br>
                                Mediación en relaciones de vecindad<br>
                                Cobranza judicial de gastos comunes
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                        <div class="icon-box iconbox-orange">
                            <div class="icon mailing">
                                <i class="bx bx-spreadsheet"></i>
                            </div>
                            <h4>
                                <a>Manuales y Procedimientos</a>
                            </h4>
                            <p>
                                Creación de normas y manuales de trabajo<br>
                                Implementación de planes de seguridad<br>
                                Capacitación a colaboradores y residentes
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>