    <section id="title" class="d-flex align-items-center justify-content-center">
        <div class="container position-relative">
            <h1>VIVE TRANQUILO, VIVE FELIZ</h1>
            <h2>Gestión de Condominios</h2>
            <a href="#contact" class="btn-get-started scrollto">¿ Conversemos ?</a>
        </div>
    </section>