        <section id="banner" class="banner">
            <div class="container">
                <div class="section-title">
                    <h2>PLUSVALÍA</h2>
                </div>
                <div class="text-center">
                    <span class="banner-btn">Damos valor a tu propiedad</span>
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="info-box mt-4">
                                <i class="bx bx-check-circle"></i>
                                <h3>Calidad</h3>
                                <p>
                                    Mejoramos tu vida<br>
                                    en comunidad
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info-box mt-4">
                                <i class="bx bx-target-lock"></i>
                                <h3>Enfoque</h3>
                                <p>
                                    Nos ocupamos<br>
                                    de lo que te preocupa
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info-box mt-4">
                                <i class="bx bx-timer"></i>
                                <h3>Proactividad</h3>
                                <p>
                                    Nos adelantamos<br>
                                    a tus problemas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>