        <section id="proposal" class="proposal">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8 d-flex">
                        <div class="logo-box mt-4 align-self-center mx-auto">
                            <img src="/assets/images/beehappy-gray.png" class="img-fluid logotype" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0">
                        <div class="info-box mt-4">
                            <div class="row">
                                <div class="col-2">
                                    <div class="icon">
                                        <i class="bx bx-up-arrow-circle"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <h3>Aumentamos la transparencia</h3>
                                    <p>En la operaci贸n y gesti贸n del condominio</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-box mt-4">
                            <div class="row">
                                <div class="col-2">
                                    <div class="icon">
                                        <i class="bx bx-time"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <h3>Disminuimos los tiempos de respuesta</h3>
                                    <p>En la atenci贸n y resoluci贸n de los requerimientos</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-box mt-4">
                            <div class="row">
                                <div class="col-2">
                                    <div class="icon">
                                        <i class="bx bx-help-circle"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <h3>Reducimos la incertidumbre</h3>
                                    <p>En los hechos relevantes que afectan a la comunidad</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>