        <section id="contact" class="contact">
            <div class="container">
                <div class="section-title">
                    <h2>¿ Conversemos ?</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="info-box mt-4">
                            <a href="mailto:hola@beehappy.ee">
                                <i class="bx bx-envelope"></i>
                                <h3>Escríbenos</h3>
                                <p>hola@beehappy.ee</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box mt-4">
                            <a href="tel:+56978008001">
                                <i class="bx bx-phone-call"></i>
                                <h3>Llámanos</h3>
                                <p>+56 9 7800 8001</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box mt-4">
                            <a href="https://api.whatsapp.com/send?phone=56978008001">
                                <i class="bx bxl-whatsapp"></i>
                                <h3>Mensajéanos</h3>
                                <p>+56 9 7800 8001</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
