    <footer id="footer">
        <div class="container d-md-flex py-4">
            <div class="mr-md-auto text-center text-md-left">
                <div class="copyright">
                    &copy; 2022 <strong>BeeHappy Chile</strong>
                </div>
                <div class="credits">
                    <a>Vive tranquilo, Vive feliz</a>
                </div>
            </div>
        </div>
    </footer>