<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>BeeHappy Chile</title>
    <meta name="description" content="Vive tranquilo, vive feliz. Gestión de Comunidades.">
    <meta name="keywords" content="Gestión de Comunidades, Administración de Edificios y Condominios, Administración de Conjuntos Habitacionales y Comerciales">
    <meta name="version" th:content="${tim_datetime}">
    <meta property="og:title" content="BeeHappy Chile">
    <meta property="og:description" content="Vive tranquilo, vive feliz. Gestión de Comunidades.">
    <meta property="og:image" content="https://beehappychile.cl/assets/images/beehappy-logo.png">
    <meta property="og:image:secure_url" content="https://beehappychile.cl/assets/images/beehappy-logo.png">
    <meta property="og:url" content="https://beehappychile.cl">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="BeeHappy Chile">
    <meta name="twitter:image" content="./assets/images/beehappy-logo.png">
    <meta name="twitter:site" content="@beehappychilecl">
    <link href="./assets/images/beehappy-favicon.png" rel="icon">
    <link href="./assets/images/beehappy-icon.png" rel="apple-touch-icon">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/boxicons.min.css" rel="stylesheet">
    <link href="./assets/css/opensans.min.css" rel="stylesheet">
    <link href="./assets/css/poppins.min.css" rel="stylesheet">
    <link href="./assets/css/raleway.min.css" rel="stylesheet">
    <link href="./assets/css/style.min.css" rel="stylesheet">
</head>