    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
            <a class="logo mr-auto" href="/">
                <img alt="" class="img-fluid" src="/assets/images/beehappy-black.png">
            </a>
        </div>
    </header>